<mat-grid-list *ngFor="let categoryMap of categoryMapArticle" cols="2" rowHeight="5:5" >
    <h2 *ngIf="categoryMap.articles.length">{{categoryMap.category}}</h2>
    <mat-grid-tile *ngFor="let article of categoryMap.articles | slice :0:4">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="title">{{article['title']}}</mat-card-title>
                <mat-card-subtitle>{{article['subtitle']}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="img-article" [width]="50" src="{{article['urlToImage']}}" alt="">
            <mat-card-content>
                <p>
                    {{article['content']}}
                </p>
            </mat-card-content>

            <mat-card-actions  class="action-buttons">
                <button mat-button color="primary">
                    <mat-icon>thumb_up_alt</mat-icon>
                </button>

                <button mat-button color="primary">
                    <mat-icon>comment</mat-icon>
                </button>

                <button mat-button color="primary">
                    <mat-icon>share</mat-icon>
                </button>
                <a mat-button color="primary" href="{{article['url']}}" target="_blank">
                    <mat-icon>more</mat-icon>
                </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>